.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    background-color: #c24141;
}

.header a{
 text-decoration: none;
 font-size: 23px;
 color: white;
 cursor: pointer;
}


